grafana.samandrey.work {
    reverse_proxy oauth2-proxy-grafana:4180
}

n8n.samandrey.work {
    handle /rest/oauth2-credential/callback* {
        reverse_proxy n8n:5678
    }

    reverse_proxy oauth2-proxy-n8n:4180
}
